<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="card-container">
  <div class="card" style="width: 18rem;">
    <img src="assets\images\unnamed.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add" (click)="a()">
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\bougies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add" (click)="a()">
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\unnamed.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\bougies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\unnamed.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\bougies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\unnamed.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\bougies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\unnamed.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\bougies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\unnamed.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\bougies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\unnamed.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add">    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\bougies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="assets\images\360_F_30215082_UkRQTbOQsiTtcjkTunYNjFoaaccgkRW5.jpg" class="btn-add" (click)="a()">    </div>
  </div>
</div>
<button (click)="a()">adaed</button>
